In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

df1 = pd.read_csv("stats_pulse_all.csv")
df2 = pd.read_csv("stats_scaling_all.csv")
df3 = pd.read_csv("stats_ramping_all.csv")
df4 = pd.read_csv("stats_random_all.csv")


frames = [df1, df2 ,df3 ,df4]
  
result = pd.concat(frames)
display(result)




print(result)

      X_05%  X_68%  X_95%  Template
0     10764  14182  16593         1
1     11071  16869  18164         1
2     10886  15575  16778         1
3     10148  14734  17048         1
4     10895  17778  19319         1
...     ...    ...    ...       ...
1822  11089  15431  16603         3
1823  10330  17082  20439         3
1824  10535  19660  24876         3
1825  11431  17282  23549         3
1826  11862  17819  19329         3

[7308 rows x 4 columns]

      X_05%  X_68%  X_95%  Template
0     10764  14182  16593         1
1     11071  16869  18164         1
2     10886  15575  16778         1
3     10148  14734  17048         1
4     10895  17778  19319         1
...     ...    ...    ...       ...
1822  11089  15431  16603         3
1823  10330  17082  20439         3
1824  10535  19660  24876         3
1825  11431  17282  23549         3
1826  11862  17819  19329         3

[7308 rows x 4 columns]

In [2]:
result.to_csv('ml_model_training_testing_data.csv', index=False)

In [3]:
df=pd.read_csv('ml_model_training_testing_data.csv')

In [4]:
df

      X_05%  X_68%  X_95%  Template
0     10764  14182  16593         1
1     11071  16869  18164         1
2     10886  15575  16778         1
3     10148  14734  17048         1
4     10895  17778  19319         1
...     ...    ...    ...       ...
7303  11089  15431  16603         3
7304  10330  17082  20439         3
7305  10535  19660  24876         3
7306  11431  17282  23549         3
7307  11862  17819  19329         3

[7308 rows x 4 columns]

In [5]:
df = df.sample(frac = 1)
df

      X_05%  X_68%  X_95%  Template
2883  12770  25536  27133         0
2731  15321  23071  32764         0
2765  14290  30214  37846         0
1405  10539  16555  17939         1
2131   9724  14601  20649         0
...     ...    ...    ...       ...
6979  11758  21507  26243         3
3743  11016  17429  39495         2
3508  11433  18812  27186         0
2670   9895  14258  14999         0
4298  10927  18032  18443         2

[7308 rows x 4 columns]

In [6]:
df.to_csv('ml_model_training_testing_data.csv', index=False)

In [7]:
X = df.iloc[:,:-1].values
y = df.iloc[:, 3].values

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [9]:
# Step 4 - Feature Scaling
from sklearn.preprocessing import StandardScaler
ss_X = StandardScaler()
X_train = ss_X.fit_transform(X_train)
X_test = ss_X.transform(X_test)

In [10]:
# Import ML Libraries
from xgboost import XGBClassifier
from sklearn.linear_model import SGDClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
np.set_printoptions(precision=4)
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score , confusion_matrix
from sklearn.inspection import permutation_importance
from sklearn.svm import SVC
import warnings
warnings.filterwarnings('ignore')

classifiers = [[CatBoostClassifier(verbose=0),'CatBoost Classifier'],[XGBClassifier(),'XGB Classifier'], [RandomForestClassifier(),'Random Forest'], 
    [KNeighborsClassifier(), 'K-Nearest Neighbours'], [SGDClassifier(),'SGD Classifier'], [SVC(),'SVC'],[LGBMClassifier(),'LGBM Classifier'],
              [GaussianNB(),'GaussianNB'],[DecisionTreeClassifier(),'Decision Tree Classifier'],[LogisticRegression(),'Logistic Regression'],[SVC( kernel="rbf", random_state=0),'SVC kernel']]

In [11]:
for cls in classifiers:
    model = cls[0]
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_test)
    print(cls[1])
    print ('Confusion Matrix:')
    print(confusion_matrix(y_test, y_pred))
    print("Accuracy : ", accuracy_score(y_test, y_pred) *  100)
#     print("Recall : ", recall_score(y_test, y_pred) *  100)
#     print("Precision : ", precision_score(y_test, y_pred) *  100)
    
#     print("F1 : ", f1_score(y_test, y_pred) *  100)
    print("\n\n\n")

CatBoost Classifier
Confusion Matrix:
[[331  47  15  68]
 [ 11 379   4  33]
 [ 57 102 315  22]
 [ 78 137   6 222]]
Accuracy :  68.25396825396825




XGB Classifier
Confusion Matrix:
[[313  43  20  85]
 [ 13 336  12  66]
 [ 54  90 316  36]
 [ 65 136   8 234]]
Accuracy :  65.62671045429667




Random Forest
Confusion Matrix:
[[318  42  27  74]
 [ 31 283  27  86]
 [ 54  92 315  35]
 [ 85 129  16 213]]
Accuracy :  61.79529282977558




K-Nearest Neighbours
Confusion Matrix:
[[318  46  26  71]
 [ 25 365  13  24]
 [ 59  99 312  26]
 [ 95 136  12 200]]
Accuracy :  65.40777230432403




SGD Classifier
Confusion Matrix:
[[ 91  73 171 126]
 [  5 421   0   1]
 [  1 110 370  15]
 [ 12 168  79 184]]
Accuracy :  58.34701696770662




SVC
Confusion Matrix:
[[333  55   1  72]
 [  3 418   0   6]
 [ 75 107 292  22]
 [ 89 145   0 209]]
Accuracy :  68.52764094143404




LGBM Classifier
Confusion Matrix:
[[302  49  27  83]
 [  8 362   9  48]
 [ 55 103 317  21]
 [ 67 134   6 236]]
Accuracy :  66.61193212917351




GaussianNB
Confusion Matrix:
[[218  68  18 157]
 [ 19 359   0  49]
 [ 64 105 270  57]
 [ 95 177   5 166]]
Accuracy :  55.446086480569235




Decision Tree Classifier
Confusion Matrix:
[[283  32  46 100]
 [ 61 194  64 108]
 [ 52  65 332  47]
 [ 94 115  34 200]]
Accuracy :  55.227148330596606




Logistic Regression
Confusion Matrix:
[[242  45  79  95]
 [ 18 383   0  26]
 [ 12 100 342  42]
 [141 128   8 166]]
Accuracy :  62.01423097974822




SVC kernel
Confusion Matrix:
[[333  55   1  72]
 [  3 418   0   6]
 [ 75 107 292  22]
 [ 89 145   0 209]]
Accuracy :  68.52764094143404